
div, p, q {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
section {
    display: block;
}
body {
    line-height: 1.5;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    
    /* font-family: "Pacifico", cursive; */
    overflow-x: hidden;
    
}

.cover {
    margin-top: 500px;
    width: 100vw;
    margin-bottom: 1rem;
    display: flex;
}

.cover:nth-child(1) {
    margin-top: 20vh;
    transform: rotate(-2deg);
    border: solid 3px black;
    background-color: #ffffff;
}

.cover:nth-child(2) {
    transform: rotate(2deg);
    background-color: #000000;
    color: white;
    border: solid 3px rgb(255, 255, 255);
    justify-content: flex-end;
}
p {
    display: flex;
    padding: 3rem 0;
    font-size: 5rem;
}